<div class="row d-flex justify-content-center">
  <div class="wine-card w-10 d-flex flex-column justify-content-center align-items-center border col-4">





        <h2 class="border-bottom p-3"><%= wine.name %></h2>
        <%= image_tag("logo.png") %>
        <p><strong>Region -</strong> <%= wine.region %></p>
        <p><strong>Domaine -</strong> <%= wine.domain %></p>
        <p><strong>Descrition -</strong> <%= wine.description %></p>
        <p><strong>Année -</strong> <%= wine.year %></p>
        <p><strong>Prix -</strong> <%= wine.price %></p>
        <p><strong>Stock -</strong> <%= wine.stock_quantity %></p>
        <p><strong>Type -</strong> <%= wine.category %></p>
        <p><strong>Cépage -</strong> <%= wine.grape_variety %></p>
        <p><strong>% -</strong> <%= wine.alcohol_level.to_i %></p>
      </div>
    </div>
  </div>
</div>
