<div class="container py-5">
  <div class="row">
      <div class="d-flex col-12 col-md-6 offset-lg-3 bg-white rounded p-3 shadow justify-content-between">
        <div class="titre récap + images">
        <div>
            <% if wine.photo.attached? %>
              <%= cl_image_tag wine.photo.key, class:"card-product"%>
            <% else %>
              <%= image_tag("wine.png", class: "card-product", alt: "dropdown menu") %>
            <% end %>
        </div>
        </div>
    <div class=" container d-flex flex-column justify-content-between">
          <div>
          <h4> Votre choix</h4>
          </div>
          <table class="table-white mt-0">
            <tbody >
                <tr>
                  <td><h6 ><strong><%= wine.name %> - <%= wine.domain %></strong></h6></td>
                </tr>
                <tr  class="d-flex pb-2 justify-content-center">
                  <td></td>
                  <td ><%= wine.user.first_name %> <%= wine.user.last_name %></td>
                </tr>
                <tr class="d-flex ">
                  <td><i class="fa-solid fa-phone"> </i></td>
                  <td> <%= wine.user.phone_number %></td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-location-dot"></i></td>
                  <td><%= wine.user.address %></td>
                </tr>
                <tr class="d-flex text-center justify-content-around">
                  <td><strong>TOTAL </strong></td>
                  <td><strong><%= wine.price %> €</strong></td>
                </tr>
            </tbody>
            </table>
          <div class="d-flex flex-column">
            <div>
            <%= simple_form_for [@wine, @booking] do |f| %>
              <%= f.submit "Envoyer une demande", class: "shadow-sm btn btn-danger mb-1 w-100" %>
            <% end %>
            </div>
            <%= link_to "Retour", wine_path(wine), class:"shadow-sm btn btn-info" %>





          </div>
      </div>
      </div>
    </div>
  </div>
