<div class="container shadow-sm mt-2 d-flex justify-content-between bg-grey">
  <div class="wines flex-shrink">
    <h3 class="text-center">Mes vins à vendre</h3>
    <%= link_to "Ajouter une offre", new_wine_path, class:"" %>
      <div class="row justify-content-between">
          <% current_user.wines.each do |wine| %>
              <%= render partial: "dashboards/wine_card", locals: {wine: wine} %>
          <% end %>
      </div>
    </div>
  <div class="bookings flex-grow-1">
    <h3 class="text-center">Mes commandes</h3>
    <%= link_to "Ajouter une offre", new_wine_path, class:"" %>
      <div class="row justify-content-between">
          <% current_user.wines.each do |wine| %>
              <%= render partial: "dashboards/wine_card", locals: {wine: wine} %>
          <% end %>
      </div>
    </div>
  </div>
</div>



<ul>
  <% current_user.bookings.each do |booking| %>
    <%= render partial: "dashboards/booking_card", locals: { booking: booking } %>
  <% end %>
</ul>
