<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h2 class="text-center">Modifier la fiche de votre vin</h2>
        <% region = ['Alsace', 'Bordeaux', 'Bourgogne', 'Champagne', 'Corse', 'Midi', 'Provence', 'Sud-ouest', 'Vallée de la Loire', 'Vallée du Rhône', 'Autre']  %>
        <%= simple_form_for [@wine] do |f| %>
          <%= f.input :name, label: "Nom du vin" %>
          <%= f.input :region, label: "Région viticole", as: :select, collection: region  %>
          <%= f.input :domain, label: "Nom du domaine/château" %>
          <%= f.input :description %>
          <%= f.input :year, label: "Année", as: :select, collection: (1900..DateTime.now.year).to_a %>
          <%= f.input :price, label: "Prix" %>
          <%= f.input :stock_quantity, label: "Stock" %>
          <%= f.input :category, label: "Catégorie", as: :select, collection: %w[Blanc Rouge Rosé] %>
          <%= f.input :grape_variety, label: "Cépage viticole" %>
          <%= f.input :alcohol_level, label: "Dégré d'alcool" %>
          <%= f.input :photo, as: :file %>

          <%= f.submit "Valider", class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
