<div class="container">
<div>
<%= link_to "Ajouter une offre", new_wine_path, class:"btn btn-dark" %>
</div>
  <div class="row justify-content-between ">
      <% @wines.each do |wine| %>

          <%= wine.name %>
          <%= wine.price %>
          <% if wine.photo.attached? %>
            <%= cl_image_tag(wine.photo.key, height: 200, width: 200, gravity: "auto", crop: "fill") %>
          <% else %>
            <%= image_tag('wine_default.jpg', height: 200, width: 200) %>
          <% end %>
          <%= link_to "En savoir plus", wine_path(wine), class:"btn btn-dark" %>
      <% end %>
  </div>
</div>

<div>
TEST IMAGE DE PROFIL A SUPPRIMER
<% if current_user %>
<%= current_user.avatar.attached? ? cl_image_tag(current_user.avatar.key, :height=>200, :gravity=>"auto", :crop=>"fill") : "pas de photo" %>
<% end %>

</div>
