<div class="container-fluid d-flex justify-content-around">
  <div class="row">
    <div class="col-sm-8 wine-card d-flex ">
      <div>
        <% if @wine.photo.attached? %>
        <%= cl_image_tag @wine.photo.key, class:"card-product"%>
        <% else %>
        <%= image_tag("wine.png", class: "card-product", alt: "dropdown menu") %>
        <% end %>
      </div>
      <div class="p-3">
        <p><%=@wine.domain %> - <%= @wine.region %></p>
        <h1><strong><%= @wine.name %> </strong> <%= @wine.year %></h1>
        <p><%= @wine.description %></p>
        <p><%= @wine.grape_variety %> • <%= @wine.category %> • <em><%= @wine.alcohol_level %> % </em></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 add-card d-flex flex-column justify-content-around">
      <div class="text-center ">Acheter</div>
      <div class="">7.9</div>
      <div class="div-btn">
        <div class="btn btn-dark"></div>
      </div>
      <div class="infos-seller d-flex">
        <div class="">proposé par</div>
        <div class="">username</div>
        <div class="">avatar</div>
      </div>
    </div>
  </div>
</div>
